
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  align-items: center;
  gap: 20px;
}

.content{
  flex:1;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: auto; 
  width: 80%;
  text-align: center;
  padding: 20px 0;
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
}