.CVB {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    gap: 40px;
    padding: 20px;
    width: 100%;
}


.viewer-side {
    position: sticky;
    top: 40px;
    height: calc(100vh - 40px);
    background: white;
    border: 3px solid #000; 
    box-shadow: 10px 10px 0px #000; 
    display: flex;
    flex-direction: column;
}

.pdf-viewer-frame {
    border: none;
    flex-grow: 1;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff8400b8;
  border: 3px solid #000;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-style {
  color: #000;
  transition: transform 0.3s ease;
}

.back-to-top:hover {
  transform: scale(1.1);
}
