@import '../../variables.css';

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  width: 100%;
}

.auth-box {
  background: var(--container-light-color);
  border: 3px solid var(--container-border-color); 
  padding: 40px;
  width: 100%;
  max-width: 450px;
  box-shadow: 10px 10px 0px var(--container-border-color); 

}

.auth-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 30px;
  text-align: left;
  color: var(--container-border-color); 
  border-bottom: 6px solid var(--container-border-color); 
  display: inline-block;
  padding-bottom: 5px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--section-label-color);
}

.form-group input {
  border: 2px solid var(--input-field-border-color); 
  padding: 12px;
  font-weight: 600;
  outline: none;
  transition: 0.2s;
  border-radius: 0;
}

.form-group input:focus {
  background-color: var(--background);
    border-color: var(--orange);
    box-shadow: 4px 4px 0px var(--dark);
}

.auth-btn {
  width: 100%;
  padding: 15px;
  background: var(--button-color); 
  color: var(--background); 
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  border-radius: 0;
  border: 2px solid var(--button-color);
  box-shadow: 4px 4px 0px var(--button-color);
}

.auth-btn:hover:not(:disabled) {
  background: var(--orange);
  transform: translate(-3px, -3px);
}

.auth-btn:disabled {
  background: var(--background); 
  border: 2px solid var(--dark); 
  cursor: not-allowed;
  color: var(--placeholder);
}

.auth-toggle {
  margin-top: 30px;
  text-align: left;
  border-top: 2px solid transparent; 
  padding-top: 20px;
}

.auth-toggle p {
  font-size: 13px;
  font-weight: 600;
  color: var(--section-label-color); 
  margin: 0;
  text-transform: uppercase;
}

.toggle-btn {
  background: none;
  border: none;
  color: var(--orange); 
  font-weight: 900;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  text-decoration: underline;
  text-transform: uppercase;
  transition: 0.2s;
}

.toggle-btn:hover {
  color: var(--orange); 
}