@import '../../variables.css';

.cv-page-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  min-height: 100vh;
  width: 100%;
}

.cv-document {
  background: var(--container-light-color);
  width: 100%;
  max-width: 800px;
  border: 3px solid var(--container-border-color);
  padding: 40px;
  box-shadow: 10px 10px 0px var(--container-border-color);
  box-sizing: border-box;
}

.cv-header {
  margin-bottom: 30px;
}

.cv-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}


.header-line {
  height: 6px;
  background: var(--container-header-line-color);
  width: 100px;
  margin-top: 10px;
}

.cv-section {
  margin-bottom: 30px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.section-label {
  background: var(--section-label-color);
  color: var(--section-label-text-color);
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 20px;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  transform: rotate(-1deg);
  box-shadow: 4px 4px 0px var(--medium-orange);
}

.section-action {
  display: flex;
  gap: 8px;
}


.cv-grid {
  display: grid;
  gap: 20px;
}


.cv-input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cv-input-group label {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.cv-field {
  border: 2px solid var(--input-field-border-color);
  padding: 10px;
  font-weight: 600;
  outline: none;
  transition: 0.2s;
}

.cv-field::placeholder {
  color: var(--placeholder);
  font-style: italic;
  font-size: 12px;
}


.cv-field:focus {
    background-color: var(--background);
    border-color: var(--orange);
    box-shadow: 4px 4px 0px var(--dark);
}

.cv-textarea {
  resize: vertical;
}

.full-width {
  grid-column: span 2;
  margin-top: 15px;
}

.cv-buttons{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: nowrap;
}


.cv-btn {
  width: 100%;
  padding: 15px;
  background: var(--button-color);
  color: var(--background);
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  font-size: 0.75rem;
  border: 2px solid var(--button-color);
  box-shadow: 4px 4px 0px var(--button-color);

}

.cv-btn:hover {
  background: var(--orange);
  transform: translate(-3px, -3px);
}

.cv-btn-pdf {
  width: 100%;
  padding: 15px;
  background: var(--button-color);
  color: var(--background);
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  font-size: 0.75rem;
  border: 2px solid var(--button-color);
  box-shadow: 4px 4px 0px var(--button-color);
}

.cv-btn-pdf:hover {
  background: var(--medium-orange);
  transform: translate(-3px, -3px);
}

.cv-section {
  border-left: 4px solid var(--medium-orange);
  padding-left: 20px;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.cv-section:hover {
  border-left-color: var(--dark);
}


.cv-btn-browser {
  display: none;
  width: 100%;
  padding: 15px;
  background: var(--button-color);
  border: 2px solid var(--button-color);
  box-shadow: 4px 4px 0px var(--button-color);
  color: var(--background);
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  font-size: 0.75rem;
}

.cv-btn-browser:hover {
  background: var(--orange);
  transform: translate(-3px, -3px);
}

@media (max-width: 600px) {
  .cv-title {
    font-size: 1.5rem;
  }

  .section-header {
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
  }

  .section-label {
    font-size: 11px;
    padding: 6px 15px;
  }

  .cv-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .full-width {
    grid-column: span 1;
  }

  .cv-buttons {
    /* flex-direction: column; */
    gap: 15px;
  }

  .cv-btn-pdf {
    display: none;
  }

  .cv-document {
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  .cv-btn-browser {
  display: block;
}

  .cv-btn-pdf{
    display: none;
  }

  .cv-document {
    padding: 30px;
  }
}