@import '../../variables.css';

.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;    
    gap: 40px;
    background-color: var(--background);
    border: 2px solid var(--dark);
    padding: 100px 20px;
    max-width: 700px;
    box-shadow: 10px 10px 0px var(--dark);
}

.title{
    font-size: 3rem;
} 

.mission{
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 80%;
    font-weight: bold;
}

.description{
    font-size: 1rem;
    letter-spacing: 1px;
    width: 80%;
}

.custom-btn {
  background-color: transparent;
  border: none;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  color: #1a1a1a;
  border:3px solid #1a1a1a;
}


@media (max-width: 1024px) {
    .description {
        width: 80%; 
    }
}

@media (max-width: 768px) {
    .landing-page-container {
        gap: 30px; 
        max-width: 300px;
    }

    .title {
        font-size: 2rem;
    }

    .mission{
        font-size: 0.9rem;
    }
    .description {
        display:none;
    }

    .custom-btn {
        max-width: 150px; 
        padding: 12px 20px;
        font-size: 0.7rem;
    }
}