@import '../../variables.css';

.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;    
    gap: 40px;
    background: var(--container-light-color);
    border: 3px solid var(--container-border-color);
    padding: 100px 20px;
    max-width: 700px;
    box-shadow: 10px 10px 0px var(--container-border-color);
}

.title{
    font-size: 3rem;
    color: var(--container-header-line-color);
} 

.mission{
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 80%;
    font-weight: bold;
    color: var(--container-header-line-color);;
}

.description{
    font-size: 1rem;
    letter-spacing: 1px;
    width: 80%;
    color: var(--container-header-line-color);
}

@media (max-width: 1024px) {
    .description {
        width: 80%; 
    }
}

@media (max-width: 768px) {
    .landing-page-container {
        gap: 30px; 
        max-width: 300px;
    }

    .title {
        font-size: 2rem;
    }

    .mission{
        font-size: 0.9rem;
    }
    .description {
        display:none;
    }
}