.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;    
    gap: 40px;
    /* width:60%; */
}

.title{
    font-size: 3rem;
} 

.description{
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 50%;
}

.custom-btn {
  background-color: transparent;
  border: none;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  color: #1a1a1a;
  border:3px solid #1a1a1a;
}
