@import './variables.css';

*{    
    font-family: 'Courier Prime', monospace;
}

body {    
  width: 100%;
  min-height: 100vh; 
  margin: 0;
  background-color: var(--background);
  
  background-color: var(--background);
    background-image: 
        radial-gradient(at 80% 20%, var(--orange) 0px, transparent 50%), 
        radial-gradient(at 20% 50%, var(--dark-brown) 0px, transparent 50%),
        radial-gradient(at 50% 80%, var(--medium-orange) 0px, transparent 50%);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}