*{    
    font-family: 'Courier Prime', monospace;
}

body{    
  width: 100%;
  height: 100vh;
  background-color: #fffcfa;
  background-image: 
    radial-gradient(at 80% 20%, rgba(255, 171, 14, 0.6) 0px, transparent 50%), 
    radial-gradient(at 20% 50%, rgba(255, 68, 0, 0.3) 0px, transparent 50%),
    radial-gradient(at 50% 80%, rgba(255, 132, 0, 0.3) 0px, transparent 50%);
}