:root {
    --orange: #ff7513e7;
    --light-orange: #ff820eb5;
    --dark-brown: #e544096f;
    --medium-orange: #ff840090;
    --background: #fffcfa;
    --dark: #121110;
    --red-error: #ff4444;
    --placeholder: #ccc;
}